{%- extends "_templates/_layout.njk" -%}
{%- import "_templates/_macro/_macro.njk" as macro %}

{% block content %}
	<div class="search-wrap">
		<div class="search-box">
			<label class="sound_only" for="search-input">검색</label>
			<input
					type="search"
					class="search-input"
					id="search-input"
					placeholder="상점 또는 서비스 이름 검색"
					autocomplete="off"
					oninput="document.querySelector('.search-clear').style.display=this.value ? 'block':'none';"
			>
			<button
					type="button"
					class="search-clear"
					onclick="const i=document.querySelector('.search-input'); i.value=''; i.focus(); this.style.display='none';">
				<i>검색어 지우기</i>
			</button>
			<button type="button" class="search-button">검색하기</button>
		</div>
		<div class="search-list">
			<div aria-labelledby="recent-search-heading">
				<strong id="recent-search-heading">최근 검색어</strong>
				<ul class="recent-search-words-list">
					<li class="recent-search-words-list-item">
						<span>올리브영</span>
						<button type="button">검색어 삭제</button>
					</li>
					<li class="recent-search-words-list-item">
						<span>문화상품권</span>
						<button type="button">검색어 삭제</button>
					</li>
					<li class="recent-search-words-list-item">
						<span>mac</span>
						<button type="button">검색어 삭제</button>
					</li>
					<li class="recent-search-words-list-item">
						<span>로션</span>
						<button type="button">검색어 삭제</button>
					</li>
					<li class="recent-search-words-list-item">
						<span>스킨</span>
						<button type="button">검색어 삭제</button>
					</li>
					<li class="recent-search-words-list-item">
						<span>문화상품권</span>
						<button type="button">검색어 삭제</button>
					</li>
					<li class="recent-search-words-list-item">
						<span>타이어 후드</span>
						<button type="button">검색어 삭제</button>
					</li>
					<li class="recent-search-words-list-item">
						<span>직관 티켓</span>
						<button type="button">검색어 삭제</button>
					</li>
					<button type="button">모두 지우기</button>

					{#-<p class="empty">
						최근 검색어가 없습니다.
					</p>#}
				</ul>
			</div>
			<div aria-labelledby="popular-search-heading">
				<strong id="popular-search-heading">인기 검색어</strong>
				<ol class="popular-search-word-list">
					<li class="popular-search-word-list-item">문화상품권</li>
					<li class="popular-search-word-list-item">타이어 후드</li>
					<li class="popular-search-word-list-item">스킨</li>
					<li class="popular-search-word-list-item">올리브영</li>
					<li class="popular-search-word-list-item">로션</li>
					<li class="popular-search-word-list-item">직관 티켓</li>
					<li class="popular-search-word-list-item">올리브영</li>
					<li class="popular-search-word-list-item">mac</li>
				</ol>
			</div>
		</div>
	</div>

{%- endblock %}
