@charset "utf-8";

// Everyday
$everyday-primary: #00802B;
$everyday-primary-lighten: #3CB866;
$everyday-primary-darken: #006020;

// Reward
$reward-primary: #FF8F1E;
$reward-primary-lighten: #FFB569;
$reward-primary-darken: #F47A00;

// Text
$text-accent: #222222;
$text-default: #444444;
$text-lighten: #666666;
$text-blurry: #888888;

// Background
$bg-default: #FFFFFF;
$bg-blue-lighten: #F6F8F9;

// Etc
$point-and-reward: #505300;
$blue: #0045DA;
$blue-light: #5A9DFF;
$purple: #BF1DF5;
$red: #EE2020;

// Opacity
$opacity-02: rgba(#000,.02);
$opacity-03: rgba(#000,.03);
$opacity-04: rgba(#000,.04);
$opacity-05: rgba(#000,.05);
$opacity-10: rgba(#000,.10);
$opacity-15: rgba(#000,.15);
$opacity-20: rgba(#000,.20);
$opacity-25: rgba(#000,.25);
$opacity-30: rgba(#000,.30);
$opacity-35: rgba(#000,.35);
$opacity-40: rgba(#000,.40);
$opacity-45: rgba(#000,.45);
$opacity-50: rgba(#000,.50);
$opacity-55: rgba(#000,.55);
$opacity-60: rgba(#000,.60);
$opacity-65: rgba(#000,.65);
$opacity-70: rgba(#000,.70);
$opacity-75: rgba(#000,.75);
$opacity-80: rgba(#000,.80);
$opacity-85: rgba(#000,.85);
$opacity-90: rgba(#000,.90);
$opacity-95: rgba(#000,.95);

// Opacity-reverse
$opacity-reverse-02: rgba(#fff,.02);
$opacity-reverse-03: rgba(#fff,.03);
$opacity-reverse-04: rgba(#fff,.04);
$opacity-reverse-05: rgba(#fff,.05);
$opacity-reverse-10: rgba(#fff,.10);
$opacity-reverse-15: rgba(#fff,.15);
$opacity-reverse-20: rgba(#fff,.20);
$opacity-reverse-25: rgba(#fff,.25);
$opacity-reverse-30: rgba(#fff,.30);
$opacity-reverse-35: rgba(#fff,.35);
$opacity-reverse-40: rgba(#fff,.40);
$opacity-reverse-45: rgba(#fff,.45);
$opacity-reverse-50: rgba(#fff,.50);
$opacity-reverse-55: rgba(#fff,.55);
$opacity-reverse-60: rgba(#fff,.60);
$opacity-reverse-65: rgba(#fff,.65);
$opacity-reverse-70: rgba(#fff,.70);
$opacity-reverse-75: rgba(#fff,.75);
$opacity-reverse-80: rgba(#fff,.80);
$opacity-reverse-85: rgba(#fff,.85);
$opacity-reverse-90: rgba(#fff,.90);
$opacity-reverse-95: rgba(#fff,.95);
