@charset "utf-8";
@import '_font';
@import '_color';
@import '_variable';

// placeholder ---------------------------------------------------------------------------------------------------------
@mixin placeholder($font-weight: 400, $color: '#666') {
	&::-webkit-input-placeholder { font-weight: $font-weight; color: $color; }
	&:-moz-placeholder           { font-weight: $font-weight; color: $color; }
	&::-moz-placeholder          { font-weight: $font-weight; color: $color; }
	&:-ms-input-placeholder      { font-weight: $font-weight; color: $color; }
}
