@charset "utf-8";
@import '_font';
@import '_color';
@import '_reset';
@import '_variable';
@import '_mixin';


@mixin zoom_icon_pc {
	background-image: url('#{$bg-url}/search_zoom.svg');
	background-repeat: no-repeat;
	background-position: right 24px center;
}

.search-wrap { margin:50px;
	$border-width: 2px;
	$border-radius: 29px;
	$search-padding: 24px;

	position: relative;
	width: 420px;
	padding: $border-width;
	background: linear-gradient(90deg, $everyday-primary 10%, $reward-primary 90%);
	border-radius: $border-radius;
	box-shadow: 0 5px 15px rgba(#000, .07);
	// 배경 적용
	&:before {
		position: absolute;
		left: $border-width;
		top: $border-width;
		right: $border-width;
		bottom: $border-width;
		background-color: $bg-default;
		border-radius: calc(#{$border-radius} - #{$border-width});
		content: "";
	}
	& > div {
		position: relative;
	}

	// 검색 input / 검색어 삭제 버튼 / 검색하기 버튼
	.search-input-box {
		position: relative;
		$height: 54px;
		$zoom: 60px;

		&:before {
			opacity: .5;
			position: absolute; right: 0; top: 0;
			width: 100%; height: 100%;
			@include zoom_icon_pc;
			border-radius: calc(#{$border-radius} - #{$border-width});
			content: "";
		}
		.search-input {
			position: relative; z-index: 1;
			width: 100%; height: $height;
			padding: 0 calc(#{$zoom}) 0 #{$search-padding};
			font-size: 18px;
			font-weight: 600;
			color: $text-accent;
			border-radius: 100px;
			background-color: transparent;
			border: none;
			outline: none;
			@include placeholder($font-weight: 400, $color: #{$opacity-35});
			&:focus,
			&:not(:placeholder-shown) {
				padding: 0 calc(#{$zoom} + (#{$height} - 10px) + 16px) 0 #{$search-padding};
			}
		}
		.search-clear {
			display: none;
			position: absolute; right: $zoom; top: 0; z-index: 1;
			width: calc(#{$height} - 10px); height: $height;
			i {
				position: absolute; left: 50%; top: 50%;
				transform: translate(-50%, -50%);
				width: 3px; height: 24px;
				font-size: 0;
				text-indent: -9999px;
				&:before,
				&:after {
					position: absolute; left: 0; top: 0;
					width: 100%; height: 100%;
					background-color: $text-blurry;
					content: "";
				}
				&:before {transform: rotate(45deg);}
				&:after {transform: rotate(-45deg);}
			}
		}
		.search-button {
			opacity: 0; visibility: hidden;
			position: absolute; right:0; top:0; z-index: 2;
			width: $zoom; height: $height;
			font-size: 0;
			text-indent: -9999px;
			border-radius: 0 $border-radius $border-radius 0;
			@include zoom_icon_pc;
			background-position: right 24px center;
		}
		.search-input:not(:placeholder-shown) ~ .search-button {
			opacity: 1; visibility: visible;
		}
	}

	// 최근 검색어 / 인기 검색어
	.search-list-box {
		opacity: 0;
		visibility: hidden;
		position: absolute; left: -9999px; top: -9999px;

		display: flex;
		flex-direction: column;
		gap: 22px;
		margin: 0 $search-padding ($search-padding + 2px);
		padding-top: 25px;
		border-top: 2px solid $opacity-20;

		.list-box {
			position: relative;

			.list-box-title {
				display: block;
				@include text-style(body, large, semibold);
			}
			.clear-all-list {
				position: absolute; right: 0; top: 0;
				line-height: 160%;
				@include text-style(body, base, regular, 185%);
				text-decoration: underline;
				color: $text-lighten;
				&:hover {
					color: $text-accent;
				}
			}
		}
	}
	&.search-input-focus .search-list-box {
			opacity: 1;
			visibility: visible;
			position: relative; left: 0; top: 0;
	}

}

// 최근 검색어 목록 / 인기 검색어 목록
.recent-search-words-list,
.popular-search-word-list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 10px;
}

// 최근 검색어 목록 아이템
.recent-search-words-list-item {
	position: relative;
}

// 최근 검색어 / 인기 검색어
.recent-search-word,
.popular-search-word {
	display: inline-flex;
	align-items: center;
	height: 34px;
	padding: 0 15px;
	border-radius: 50px;
	@include text-style(body, base, medium);
	color: $text-accent;
}
.recent-search-word {
	padding-right: 33px;
	border: 1px solid $opacity-10;
	transition: border-color .15s;
	&:hover {
		border-color: $everyday-primary;
	}
}
.recent-search-word-delete {
	position: absolute; right: 10px; top: 50%;
	transform: translateY(-50%);
	width:20px; height: 20px;
	border-radius: 100%;

	i {
		position: absolute; left: 50%; top: 50%;
		transform: translate(-50%, -50%);
		font-size: 0; text-indent: -9999px;
		width: 1px; height: 13px;

		&:before,
		&:after {
			position: absolute; left: 0; top: 0;
			width: 100%; height: 100%;
			background-color: $text-blurry;
			transition: background-color .15s;
			content: "";
		}
		&:before {transform: rotate(45deg);}
		&:after {transform: rotate(-45deg);}
	}

	&:hover i {
		&:before,
		&:after {
			background-color: $text-accent;
			box-shadow:0 0 1px 0 $text-blurry;
		}
	}
}
.recent-search-words-list-item:has(.recent-search-word-delete:hover) .recent-search-word {
	border-color: rgba($everyday-primary, .6);
}
.empty-search-words-list {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	@include text-style(body, base, regular);
	color: $text-lighten;
	background-color: $opacity-03;
	border-radius: 10px;
}
.popular-search-word {
	background-color: $opacity-05;
	transition: background-color .15s;
	&:hover {
		background-color: $opacity-10;
	}
}


