@charset "utf-8";
@import '_font';
@import '_color';
@import '_reset';
@import '_variable';
@import '_mixin';

.search-wrap {margin:50px;
	$border-width: 2px;
	$border-radius: 29px;

	position: relative;
	width: 420px;
	padding: $border-width;
	background: linear-gradient(90deg, $everyday-primary 10%, $reward-primary 90%);
	border-radius: $border-radius;
	box-shadow: 0 5px 15px rgba(#000, .07);
	&:before {
		position: absolute;
		left: $border-width;
		top: $border-width;
		right: $border-width;
		bottom: $border-width;
		background-color: $bg-default;
		border-radius: calc(#{$border-radius} - #{$border-width});
		content: "";
	}
	& > div {
		position: relative;
	}

	.search-box {
		position: relative;
		$height: 54px;
		$zoom: 65px;

		.search-input {
			width: 100%; height: $height;
			padding: 0 0 0 24px;
			font-size: 18px;
			font-weight: 600;
			color: $text-accent;
			border-radius: 100px;
			border: none;
			outline: none;
			@include placeholder($font-weight: 400, $color: #{$opacity-35});
		}
		.search-clear { background-color: #eee;
			//display: none;
			position: absolute; right: $zoom; top: 0;
			width: $height; height: $height;
			i {
				position: absolute; left: 50%; top: 50%;
				transform: translate(-50%, -50%);
				width: 2px; height: 20px;
				font-size: 0;
				text-indent: -9999px;
				&:before,
				&:after {
					position: absolute; left: 0; top: 0;
					width: 100%; height: 100%;
					background-color: $opacity-80;
					content: "";
				}
				&:before {transform: rotate(45deg);}
				&:after {transform: rotate(-45deg);}
			}
		}
		.search-button {
			position: absolute; right:0; top:0;
			width: $zoom; height: $height;
			font-size: 0;
			text-indent: -9999px;
			border-radius: 0 $border-radius $border-radius 0;
			background-image: url('#{$bg-url}/search_zoom.svg');
			background-repeat: no-repeat;
			background-position: right 24px center;
		}
	}

	// .search-list를 숨기고, .search-box 내부 요소에 focus 발생 시 .search-list 보여지게
	.search-list {
		opacity: 0;
		visibility: hidden;
		position: absolute; left: -9999px; top: -9999px;
	}
	&:has(input[type="search"]:focus) .search-list,
	&:has(.search-clear:focus) .search-list,
	&:has(.search-button:focus) .search-list {
		opacity: 1;
		visibility: visible;
		position: relative; left: 0; top: 0;
	}
}
